<!DOCTYPE html>
<html>
<body>

<h1>vault_vagrant_libvirt_ansible</h1>
{{ '{{' }} with secret "secret/data/foo" {{ '}}' }}
<p>The secret stored in Vault is: {{ '{{' }} .Data.data.test {{ '}}' }}</p>
{{ '{{' }} end {{ '}}' }}

</body>
</html>
