
vault secrets enable database

vault write database/config/vagrant-libvirt-postgresql-database \
    plugin_name="postgresql-database-plugin" \
    allowed_roles="vagrant-libvirt-role" \
    connection_url="postgresql://{{ '{{' }}username{{ '}}' }}:{{ '{{' }}password{{ '}}' }}@{{ hostvars['vault-client']['ansible_default_ipv4']['address'] }}:5432/vault-example-database" \
    username="postgres" \
    password="totallysecurepassword" \
    password_authentication="scram-sha-256"

vault write database/roles/vagrant-libvirt-role \
    db_name="vagrant-libvirt-postgresql-database" \
    creation_statements="CREATE ROLE \"{{ '{{' }}name{{ '}}' }}\" WITH LOGIN PASSWORD '{{ '{{' }}password{{ '}}' }}' VALID UNTIL '{{ '{{' }}expiration{{ '}}' }}'; \
        GRANT SELECT ON ALL TABLES IN SCHEMA public TO \"{{ '{{' }}name{{ '}}' }}\";" \
    default_ttl="1h" \
    max_ttl="24h"

vault read database/config/vagrant-libvirt-postgresql-database
vault read database/roles/vagrant-libvirt-role

vault read database/creds/vagrant-libvirt-role

# replace XXX with the user from the last command
psql -h {{ hostvars['vault-client']['ansible_default_ipv4']['address'] }} -d vault-example-database -U XXX
